.border-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-event {
    /* border: solid black; */
    margin-bottom: 20px;
    overflow-wrap: break-word;
    justify-content: center
}

.icon-size {
    width: 20px !important;
    height: 20px;
    margin: 5px;
}

.text-align {
    text-align: center;
}

.margin {
    margin: 50px;
}

.margin-event {
    margin: 30px;
}

.card {
    width: 600px;
    height: 400px;
}

.event-list {
    display: inline-flex;
    justify-content: center;
}

.content-right{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex-content{
    display: inline-flex;
    justify-content: space-between;
}

.icon-size :hover{
    transform: scale(1.2);
}

.card-body-css{
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.font-size {
    font-size: 20px;
}

@media (min-width: 992px){
.col-lg-5 {
        max-width: 100% !important;
    }   
}